
div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: black;
    background-color: lightblue;
}

header.button{
   float: right;
    width: 50%;
}
.loginbtn{
    background-color:#4CAF50;
}
footer{
     padding: 1em;
     color: black;
     background-color: lightblue;
     clear: left;
     text-align: center;

}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
//login page
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
